In [1]:
# Estructuras de Datos en Python

# Listas
lista = [1, 2, 3, 4, 5]
print("Lista:", lista)

# Tuplas
tupla = (1, 2, 3)
print("Tupla:", tupla)

# Diccionarios
diccionario = {"clave1": "valor1", "clave2": "valor2"}
print("Diccionario:", diccionario)

# Conjuntos
conjunto = {1, 2, 3, 4}
print("Conjunto:", conjunto)

# Control de Flujo

# Condicionales
edad = 18
if edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

# Bucle for
for i in range(1, 5):
    print(f"Número {i}")

# Bucle while
contador = 0
while contador < 3:
    print("Contando:", contador)
    contador += 1

# Introducción a Pandas
import pandas as pd

# Crear un DataFrame de ejemplo
datos = {
    "Nombre": ["Ana", "Luis", "Carlos", "Sofía"],
    "Edad": [23, 35, 45, 30],
    "Ciudad": ["Madrid", "Barcelona", "Sevilla", "Valencia"]
}
df = pd.DataFrame(datos)

# Mostrar el DataFrame
print("Datos en el DataFrame:")
print(df)

# Seleccionar una columna
print("\nSolo las edades:")
print(df["Edad"])

# Filtrar filas
print("\nPersonas mayores de 30:")
print(df[df["Edad"] > 30])

Lista: [1, 2, 3, 4, 5]
Tupla: (1, 2, 3)
Diccionario: {'clave1': 'valor1', 'clave2': 'valor2'}
Conjunto: {1, 2, 3, 4}
Eres mayor de edad
Número 1
Número 2
Número 3
Número 4
Contando: 0
Contando: 1
Contando: 2
Datos en el DataFrame:
   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    35  Barcelona
2  Carlos    45    Sevilla
3   Sofía    30   Valencia

Solo las edades:
0    23
1    35
2    45
3    30
Name: Edad, dtype: int64

Personas mayores de 30:
   Nombre  Edad     Ciudad
1    Luis    35  Barcelona
2  Carlos    45    Sevilla